<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cake</title>
</head>
<body style="background-https://image.freepik.com/free-vector/cartoon-characters-coworking-center-creative-space-freelancers-designers-work-together_33099-655.jpg">

<center><h1>WELCOME</h1></center><br><br>
<center><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Feducationiconnect.com%2Fsavitribai-phule-pune-university-fee-structure%2F&psig=AOvVaw16j2lU51KsHlokp5oWurHi&ust=1603773613403000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPirhvK30ewCFQAAAAAdAAAAABAO" width="400" height="200" alt="calci image"</center><br><br>
  <center>  <p style="font-weight: bolder;">  {{resp}}</p> </center>
</body>
</html>